# Ignore Visual Studio Code and IntelliJ IDEA project settings.
.vscode
.idea

# Ignore JetBrains project settings.
.idea

# QR code images.
qr

# Whatsapp Session cache.
whatsapp_session_cache

# Variables info.
.env

# Ignore binaraies installation packages.
node_modules

# Ignore js files (after compiled from ts files).
dist

*.orig

# Ignore coverage report.
coverage

# Log files.
*.log

# Ruff linter cache
.ruff_cache/

# Python virtual environment
.venv/
